.content {
    grid-area: content;
}

.item {
    color: green;
}
.dv {
    display: block;
}

.left_side {
	float:left; 
	display:inline; 
	width: 30%;
	background-color: #f9f9f9;
}


.right_side {
	float:left; 
	display:inline; 
	width: 70%;
}